.details{
  width: 100%;
  height: 100vh;
}
.details__image-container{
  width: 104px;
  height: 104px;
  margin-bottom: 24px;
}
.details__image-container img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.details__info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details__name{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--black);
  margin-bottom: 12px;
}
.details__tag{
  margin-left: 4px;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: var(--light-gray);
}
.details__department{
  text-transform: capitalize;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--gray-text);
}

.details .top-bar {
  width: 100%;
  background-color: var(--gray);
  padding: 20px 0 24px 24px;
}
.details .top-bar__header{
  width: 100%;
  margin-bottom: 26px;
}
.details .top-bar__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-info{
  padding: 0 16px;
}
.main-info__list{
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0;
  list-style-type: none;
}
.main-info__list-item{
  padding: 21px 0;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--black);
}
.main-info__list-item p{
  margin-left: 14px;
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.main-info__list-item a {
  margin-left: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: var(--black);
}
.main-info__list-item p span {
  color: var(--light-gray);
}

.loading {
  background-color: linear-gradient(90deg, #F3F3F6 0%, #FAFAFA 100%) !important;
}
